<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parallax Scrolling Website | Codehal</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <h2 class="logo">Logo</h2>
      <nav class="navigation">
        <a href="#" class="active"> Home</a>
        <a href="#"> About</a>
        <a href="#"> Service</a>
        <a href="#"> Contact</a>
      </nav>
    </header>

    <section class="Parallax">
      <img src="../images/hill1.png" id="hill1" />
      <img src="../images/hill2.png" id="hill2" />
      <img src="../images/hill3.png" id="hill3" />
      <img src="../images/hill4.png" id="hill4" />
      <img src="../images/hill5.png" id="hill5" />
      <h2 id="text">FuurEver-PawFect</h2>
      <img src="../images/tree.png" id="tree" />
      <img src="../images/plant.png" id="plant" />
    </section>

    <section class="sec">
      <h2>Parallax scrolling wahahahah</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus
        laborum minus at porro? Repudiandae culpa alias ullam. Necessitatibus,
        ut placeat illo ex quas quasi doloribus quisquam, impedit dolorem quam
        nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Delectus, odit veniam error commodi beatae magnam sapiente voluptatem
        obcaecati quos harum dolorum assumenda, sint quam accusantium aperiam
        quia earum, reprehenderit architecto.
      </p>
    </section>

    <script src="script.js"></script>
  </body>
</html>
